<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- 指定cookie的http-only属性能有效的防止跨站攻击 -->
    <session-config>
        <cookie-config>
            <!--
              Specifies whether any session tracking cookies created
              by this web application will be marked as HttpOnly
            -->
            <http-only>true</http-only>
        </cookie-config>
    </session-config>

    <!-- 指定上下文配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:applicationContext.xml,
            /WEB-INF/dispatcher-servlet.xml
        </param-value>
    </context-param>

    <!-- spring监听器，监听springMvc环境 -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!-- 压入项目路径 -->
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>

    <!-- springMvc前置总控制器，在分发其它的控制器前都要经过这个总控制器 -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>500</error-code>
        <location>/error1.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error1.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error1.html</location>
    </error-page>
</web-app>
